#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  max-width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}



.threadLine {
  min-height: 250px;
  height: 250px;
  max-height: 250px;
  margin-top:125px;
  width: 5%;
  margin: 0 auto;
  position: relative;
}
.dotted {
  background:
    repeating-linear-gradient(180deg,red 0 5px,#0000 0 7px);
}


.full {
  background-color: #f00;
  border: solid 1px #f00;
}



