
.card {
  background-color: rgb(87, 87, 87);
  width: 100%;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px; 
  min-height: 10vh;
  border: solid 0.2vw rgb(50,50,50);
}

.gift {
  background-image: url("/src/assets/gift.jpg");
}
.circle {
  position:relative;
  font-size: 2vh;
  top: 0;
  margin-top: -2.5vw;
  left:calc(50% - 2.5vw);
  height: 5vw;
  text-align: center;
  line-height: 5vw;
  background-color: rgb(87, 87, 87);
  vertical-align: middle;
  width: 5vw;
  shape-outside: circle(50%);
  border: solid 0.2vw rgb(50,50,50);
  border-radius: 50%;
}

.img-wrapper {
  position: relative;
  width: 100%;
  font-size: 0;
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128,128,128,0.75);
  filter: brightness(30%);
}

.img-wrapper img {width: 100%;}